body {
  background-color: lightblue;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

canvas {
  border: 1px solid #000;
  background-color: #fff;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  cursor: crosshair;
  box-shadow: 0 0 10px #000;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 0.9em;
}

p {
  font-size: 0.9em;
}

ol {
  font-size: 0.9em;
}
